# Mediul virtual
venv/
/venv/

# Fișiere cache Python
__pycache__/
*.pyc

# Node.js (în caz că e rulat npm install accidental în rădăcină)
node_modules/
package-lock.json

# Fișiere OS
.DS_Store
Thumbs.db

# Fișiere IDE
.vscode/
.idea/

# Fișiere de configurare locale (Environment variables)
.env

# Fișiere generate (dacă aplicația va salva PDF-uri local temporar)
*.log
generated_pdfs/
temp/

# Coverage (dacă vei face teste unitare pe viitor)
.pytest_cache/
htmlcov/
.coverage

*.md